@import url('https://fonts.googleapis.com/css?family=Raleway');

:root[theme="dark"] {
    --theme-switch-bg: #636374;
    --theme-switch-icon-color-moon: #cfcfeb;
    --theme-switch-icon-color-sun: #00000000;
    --project-container-gradient-bottom: 44, 44, 55;
    --page-bg-color: #222228;
    --text-color: #ffffff;
    --shadow-color: #00000062;
    --personal-links-bg-color: var(--theme-switch-bg);
    --personal-links-icon-color: var(--theme-switch-icon-color-moon);
}

:root[theme="light"] {
    --theme-switch-bg: #c9c9c9;
    --theme-switch-icon-color-moon: #00000000;
    --theme-switch-icon-color-sun: #8f8f8f;
    --project-container-gradient-bottom: #dadada;
    --page-bg-color: #ffffff;
    --text-color: #000000;
    --shadow-color: #00000062;
    --personal-links-bg-color: var(--theme-switch-bg);
    --personal-links-icon-color: var(--theme-switch-icon-color-sun);
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Raleway;
    background-color: var(--page-bg-color);
    color: var(--text-color);
    transition: color .4s ease-in-out,
        background-color .4s ease-in-out,
        border-color .4s ease-in-out,
        fill .6s ease-in-out,
        transform .4s ease-in-out !important;

}

.theme-switch {
    background-color: var(--theme-switch-bg);
    border-radius: 50%;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-items: center;
    position: absolute;
    right: 0;
    top: 0;


    margin: 1.5rem;

    box-shadow: 0 1rem 1.5rem var(--shadow-color);

    transition-duration: .4s;

    z-index: 2;

    &:hover {
        transform: scale(110%);

        box-shadow: 0 1rem 2rem var(--shadow-color);
    }

}

.theme-switch__icon {
    width: 3rem;
    height: 3rem;
    grid-area: 1 / 1 / 2 / 2;
    transition-duration: .4s;
    backface-visibility: hidden;
}

.theme-switch__icon--sun {
    fill: var(--theme-switch-icon-color-sun);

}

.theme-switch__icon--moon {
    fill: var(--theme-switch-icon-color-moon);
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--personal-links-bg-color);
    border-radius: 999px;
    width: 18rem;
    height: 6rem;
    padding: .5rem;

    left: 0;
    bottom: 0;

    margin: 1.5rem;

    box-shadow: 0 1rem 1.5rem var(--shadow-color);
    transition-duration: .4s;

    position: fixed;
    z-index: 2;

}

.social-links__icon {
    fill: var(--personal-links-icon-color);
    transition-duration: .2s;
    height: 4rem;
    width: 4rem;

    &:hover {
        transform: scale(110%);
    }
}

.title {
    font-family: Raleway;
    font-size: 6rem;
    display: block;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
}

.short_description {
    font-family: Raleway;
    font-size: 5rem;
    display: block;
    font-weight: 200;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.projects-container {
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    z-index: 0;
    /* perspective: 30rem; */
}

.project-card {
    
    box-shadow: 0 .6rem 2.0rem var(--shadow-color);
    width: 100%;
    /* min-height: 47rem; */
    /* height: 64rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    border-radius: 5rem;
    background-color: rgba(var(--project-container-gradient-bottom), .3);
    backdrop-filter: blur(2rem);
    border: 1px solid rgba(255, 255, 255, 0.125);
    opacity: 1;
    transition:
        height .3s ease-in-out,
        /* width .4s ease-in-out, */
        /* background-color .4s ease-in-out, */
        transform .05s,
        box-shadow .4s ease-in-out,
        opacity .4s ease-in-out,
        top .4s ease-in-out,
        left .4s ease-in-out;

    z-index: 2;

    padding: 3.5rem;
    gap: 3rem;

}

.project-card--collapsed {
    cursor: pointer;
    overflow: hidden;
    /* background: linear-gradient(to bottom right, var(--page-bg-color), var(--project-container-gradient-bottom) 90%); */

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 35px var(--shadow-color);
    }

    & .project-card__preview-img {
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0 .5rem 1.5rem var(--shadow-color);
       
    }

    & :not(.project-card__preview-img, .project-card__preview-img-link, .project-card__heading) {
        display: none;
    }

}

.project-card--expanded {
    height: auto;
    width: 40%;
    position: absolute;
    /* transform: translate(-50%, 0%); */
    z-index: 4;
    margin-bottom: 10rem;

    transition:
        height .3s ease-in-out,
        /* width .4s ease-in-out, */
        /* background-color .4s ease-in-out, */
        transform .4s,
        box-shadow .4s ease-in-out,
        opacity .4s ease-in-out,
        top .4s ease-in-out,
        left .4s ease-in-out;


    & .project-card__preview-img {
        max-width: 70%;
        border-radius: 2rem;
        box-shadow: 0 .5rem 1.5rem var(--shadow-color);
        margin-bottom: 5rem;
    }

    
}

.project-card--hidden {
    opacity: 0;
    pointer-events: none;
}

.project-card--collapsed>a:has(> img.project-card__preview-img) {
    pointer-events: none;
    text-align: center;
}

.project-card--expanded>a:has(> img.project-card__preview-img) {
    pointer-events: all;
    text-align: center;
}

.project-card__buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

#space-view {
    grid-row: span 2;
}
.project-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-switch-bg);
    border-radius: 50px;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 1rem 2.5rem var(--shadow-color);

    transition-duration: .4s;

    z-index: 2;

    &:hover {
        transform: scale(110%);
    }

    svg {
        fill: var(--personal-links-icon-color);
        transition-duration: .2s;
        height: 6.6rem;
        width: 6.6rem;
    }
}

.project-card__button--back {
    svg {
        height: 8rem;
        width: 8rem;
    }
}

.project-card__heading {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

.project-card__description {
    z-index: 1;
    width: 86%;
    font-size: 2.2rem;
}

.project-card__additional-photo {
    max-width: 86%;
    max-height: 42rem;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    margin: .5rem;
    object-fit: cover;
}

.main-container {
    width: auto;
}

.middle-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 6%;
}

.mask {
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    display: grid;
    flex-flow: column;
}

.turntable {
    margin: 30px;
    max-height: 45rem;
}

.turntable ul li {
    list-style-type: none;
    display: none;
}

.turntable ul li img {
    width: 100%;
    max-height: 45rem;
}

.turntable ul li.active {
    display: block;
}

.turntable:hover {
    cursor: w-resize;
}

.background-canvas {
    width: 100vw;
    height: 100vh;
    filter: blur(.3vmax);
}

.background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -3;
}

.landing-page-container {
    height: auto;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

@media only screen and (hover: none) and (pointer: coarse) {

    html {
        font-size: 50%;
    }

    .title {
        font-size: 3rem;
        position: relative;
        top: 45px;
        overflow-wrap: normal;
        margin-bottom: 2rem;
    }

    .short_description {
        font-size: 1.5rem;
    }

    .projects-container {
        gap: 2rem
    }

    .project-card--collapsed {
        z-index: 2;
        width: 100%;
        height: 60vh;


        & .project-preview-img {
            max-width: 90%;
        }

        &:hover {
            transform: none;
            box-shadow: 0 1rem 2.5rem var(--shadow-color);
        }
    }

    .project-card--expanded {
        z-index: 2;
        width: 100%;
        margin-bottom: 10rem;

        & .project-preview-img {
            max-width: 90%;
        }

        & .project-additional-photo {
            max-width: 90%;
            width: 90%;
        }
    }

}

.no-style-link,
.no-style-link:visited {
    color: white;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}