@import url('https://fonts.googleapis.com/css?family=Raleway');

:root[theme="dark"]{
    --theme-switch-bg: #717463;
    --theme-switch-icon-color-moon: #e0e6c4 ;
    --theme-switch-icon-color-sun: #00000000;
    --project-container-gradient-bottom: 44, 44, 55;
    --page-bg-color: #222228;
    --text-color: #ffffff;
    --personal-links-bg-color: var(--theme-switch-bg);
    --personal-links-icon-color: var(--theme-switch-icon-color-moon);
}

:root[theme="light"]{
    --theme-switch-bg: #e0e6c4;
    --theme-switch-icon-color-moon: #00000000;
    --theme-switch-icon-color-sun: #717463 ;
    --page-bg-color:#ffffff;
    --text-color: #000000;
    --personal-links-bg-color: var(--theme-switch-bg);
    --personal-links-icon-color: var(--theme-switch-icon-color-sun);
}


body{
    font-family: Raleway;
    background-color:var(--page-bg-color) ;
    color: var(--text-color);
    transition: color .4s ease-in-out,
                background-color .4s ease-in-out,
                border-color .4s ease-in-out,
                fill 6s ease-in-out,
                transform .4s ease-in-out !important;
    margin: 0;
}





@media only screen and (hover: none) and (pointer: coarse){
    
    div#theme-switch {
        background-color: var(--theme-switch-bg);
        border-radius: 50px;
        cursor: pointer;
        padding: 0.8rem;
        width: 50;
        height: 50;
    
        position: absolute;
        right: 0;
        top: 0;
        margin: 15;
        align-items: center;
    
        box-shadow: 0px 0px 20px var(--text-color);
    
        transition-duration: 0.4s;

        z-index: 2;
    }

    div#personal-links{
        display: grid;
        grid-template-columns: 50px 50px; 
        grid-template-rows: 50px;
        grid-column-gap: 40px;
    
        background-color: var(--personal-links-bg-color);
        border-radius: 50px;
        width: 150;
        height: 50;
        padding: 0.8rem;
        left: 20;
        bottom: 20;
        margin: 15;
        box-shadow: 0px 0px 20px var(--text-color);
        fill: var(--personal-links-icon-color);
        transition-duration: 0.4s;
    
        position: fixed;
        z-index: 2;
        
    }
    
}

@media (pointer: fine), (pointer: none) {
    div#theme-switch {
        background-color: var(--theme-switch-bg);
        border-radius: 50px;
        cursor: pointer;
        padding: 0.5rem;
        width: 25;
        height: 25;
    
        position: absolute;
        right: 0;
        top: 0;
        margin: 15;
        align-items: center;
    
        box-shadow: 0px 0px 15px var(--text-color);
    
        transition-duration: 0.4s;

        z-index: 2;
    }

    div#personal-links{
        display: grid;
        grid-template-columns: 40px 40px; 
        grid-template-rows: 40px;
        grid-column-gap: 30px;
    
        background-color: var(--personal-links-bg-color);
        border-radius: 50px;
        width: 120;
        height: 40;
        padding: 0.5rem;
        left: 0;
        bottom: 0;
        margin: 15;
        box-shadow: 0px 0px 15px var(--text-color);
        fill: var(--personal-links-icon-color);
        transition-duration: 0.4s;
    
        position: fixed;
        z-index: 2;
        
    }

}

.title {
    font-family: Raleway;
    font-size: 4vw;
    display: inline;
    font-weight: 600;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.short_description {
    font-family: Raleway;
    font-size: 3vw;
    display: block;
    font-weight: 200;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    margin-top: 2rem;
}

.projects-container {
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
    z-index: 0;
    /* perspective: 30rem; */
}

.project-card {
    
    box-shadow: 0 .6rem 2.0rem var(--shadow-color);
    width: 100%;
    /* min-height: 47rem; */
    /* height: 64rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    border-radius: 5rem;
    background-color: rgba(var(--project-container-gradient-bottom), .3);
    backdrop-filter: blur(2rem);
    border: 1px solid rgba(255, 255, 255, 0.125);
    opacity: 1;
    transition:
        height .3s ease-in-out,
        /* width .4s ease-in-out, */
        /* background-color .4s ease-in-out, */
        transform .05s,
        box-shadow .4s ease-in-out,
        opacity .4s ease-in-out,
        top .4s ease-in-out,
        left .4s ease-in-out;

    z-index: 2;

    padding: 3.5rem;
    gap: 3rem;

}

.project-card--collapsed {
    cursor: pointer;
    width: 30%;
    height: 80%;
    box-shadow: 0px 0px 15px var(--text-color);
    overflow: hidden;
    /* background: linear-gradient(to bottom right, var(--page-bg-color), var(--project-container-gradient-bottom) 90%); */

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 35px var(--shadow-color);
    }

    & .project-card__preview-img {
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0 .5rem 1.5rem var(--shadow-color);
       
    }

    & :not(.project-card__preview-img, .project-card__preview-img-link, .project-card__heading) {
        display: none;
    }

}

.project-card--expanded {
    height: auto;
    width: 40%;
    position: absolute;
    /* transform: translate(-50%, 0%); */
    z-index: 4;
    margin-bottom: 10rem;

    transition:
        height .3s ease-in-out,
        /* width .4s ease-in-out, */
        /* background-color .4s ease-in-out, */
        transform .4s,
        box-shadow .4s ease-in-out,
        opacity .4s ease-in-out,
        top .4s ease-in-out,
        left .4s ease-in-out;


    & .project-card__preview-img {
        max-width: 70%;
        border-radius: 2rem;
        box-shadow: 0 .5rem 1.5rem var(--shadow-color);
        margin-bottom: 5rem;
    }

    
}

.project-entry[visible="false"]{
    display: none;
}

.project-card--expanded>a:has(> img.project-card__preview-img) {
    pointer-events: all;
    text-align: center;
}

.project-card__buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

#space-view {
    grid-row: span 2;
}
.project-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-switch-bg);
    border-radius: 50px;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 1rem 2.5rem var(--shadow-color);

    transition-duration: .4s;

    z-index: 2;

    &:hover {
        transform: scale(110%);
    }

    svg {
        fill: var(--personal-links-icon-color);
        transition-duration: .2s;
        height: 6.6rem;
        width: 6.6rem;
    }
}

.project-card__button--back {
    svg {
        height: 8rem;
        width: 8rem;
    }
}

.project-name-heading{
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}

.project-description{
    padding: 20px;
    z-index: 1;


}

.project-additional-photo{
    max-width: 86%;
    padding: 10px;
}


#projects-container{
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
    column-gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 0;
}

.main-container {
    width: auto;
}

.middle-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 6%;
}





#theme-switch:hover{
    transform: scale(110%);

    box-shadow: 0px 0px 20px var(--text-color);
}

#switch-icon-sun{
    fill: var(--theme-switch-icon-color-sun);
}

#switch-icon-moon{
    fill: var(--theme-switch-icon-color-moon);
}

#switch-icon-sun, #switch-icon-moon{
    width: inherit;
    position: absolute;
    transition-duration: 0.4s;
}



.link-svg{
    fill:inherit;
    transition-duration: 0.2s;
}

.link-svg:hover{
    transform: scale(110%);
}

.mask{
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    display:grid;
    flex-flow: column;
}



.turntable {
    margin: 30px;
    width: 94%;
  }
  .turntable ul {
    padding: 0px;
    margin: 0px; 
  }
  .turntable ul li {
    list-style-type: none;
    display: none; 
  }
  .turntable ul li img {
    width: 100%; 
  }
  .turntable ul li.active {
    display: block; 
  }

  .turntable:hover {
    cursor: w-resize;
  }



canvas#background-canvas{
    width: 100%;
    height: 100%;
    position:fixed;
    transition: color .4s ease-in-out,
                background-color .4s ease-in-out,
                border-color .4s ease-in-out,
                fill 6s ease-in-out,
                transform .4s ease-in-out !important;
}

div#background{
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -3;
}

.landing-page-container {
    height: auto;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

@media only screen and (hover: none) and (pointer: coarse) {

    html {
        font-size: 50%;
    }

    .title {
        font-size: 3rem;
        position: relative;
        top: 45px;
        overflow-wrap: normal;
        margin-bottom: 2rem;
    }

    .short_description {
        font-size: 1.5rem;
    }

    .projects-container {
        gap: 2rem
    }

    .project-card--collapsed {
        z-index: 2;
        width: 100%;
        height: 60vh;


        & .project-preview-img {
            max-width: 90%;
        }

        &:hover {
            transform: none;
            box-shadow: 0 1rem 2.5rem var(--shadow-color);
        }
    }

    .project-card--expanded {
        z-index: 2;
        width: 100%;
        margin-bottom: 10rem;

        & .project-preview-img {
            max-width: 90%;
        }

        & .project-additional-photo {
            max-width: 90%;
            width: 90%;
        }
    }

}

.no-style-link,
.no-style-link:visited {
    color: white;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}